nav{
    position: fixed;
    background-color: green;
    color: white;
    margin-top: -4vh;
    height: 10vh;
    width: 100%;
    z-index: 99;
}
nav ul li {
    float: left;
    list-style: none;
    margin-top: 5vh;
    padding-left: 4vh;
}
nav ul li h3{
    margin-top: -1vh;
    margin-left: 1vh;
}

/*Container de dados*/
.ContainerTable{
    position: absolute;
    margin-top: 19vh;
    margin: auto;
    height: 60vh;
    width: 140vh;
    margin-top: 10vh;
    margin-left: 30vh;
}
.cardDiv{
    width: 100%;
    background-color: #50ac50;
    padding: 1vh;
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
}
.cardDiv ul li{
    list-style: none;
    color: white;
}
/*Form add*/
.addField{
    position: absolute;
    margin-top: 19vh;
    margin: auto;
    height: auto;
    width: 140vh;
    margin-top: 10vh;
    margin-left: 30vh;
    background-color: green;
    
}
#addForm{
    padding: 4vh;
    color: white;
}
#btAdd{
    margin-left: 12vh;
}